<!-- services -->
    <!-- id in div tag short hand for #services -->
    <div id="services">
        <!-- div with class name container shorthand is .container -->
        <div class="container">
            <h2 class="sub-title">Elaborating  My Skills in Detail</h2>
            <!-- div with class name for the services list shorthand is .services-list -->
            <div class="services-list">
                <div>
                    <!-- Code icon from fontawesome.com in the icon   -->
                    <i class="fa-solid fa-robot"></i>
                    <h3>Python projects</h3>
                    <p>Various Python Projects with List, Tuples, loops, Dictionary, MySQL, python libraries, file handling, menu based, CSV file, Functions, Microsoft Excel and many more.</p>
                    <a href="https://github.com/SUKH2022/python-program">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-gamepad"></i>
                    <h3>C/C++ projects</h3>
                    <p>C/C++ Projects with C/C++ libraries, loops, 2D and 3D arrays, Inheritance, header files, encapsulation, exception handling, file handling, Microsoft Excel linking and many more.</p>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h3>Web Designing</h3>
                    <p>Several Web Designing Projects with HTML, CSS and javascript and many more.</p>
                    <a href="https://github.com/SUKH2022/Assignment-1-week1-Song-lyrics">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-medal"></i>
                    <h3>Hacker Rank platform</h3>
                    <p>Programs on Hanker Rank.</p>
                    <a href="https://www.hackerrank.com/sukhpreet_saini1">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-business-time"></i>
                    <h3>Tally</h3>                   
                    <p>Accounting for Business.</p>
                    <a href="#">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-table-list"></i>
                    <h3>Microsoft Office</h3>
                    <p>Beautiful and appealing PPTs, accounting on Excel, Word document, and many more.</p>
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>