<!-- services -->
    <!-- id in div tag short hand for #services -->
    <div id="services">
        <!-- div with class name container shorthand is .container -->
        <div class="container">
            <h2 class="sub-title">Elaborating  My Skills in Detail</h2>
            <!-- div with class name for the services list shorthand is .services-list -->
            <div class="services-list">
                <div>
                    <!-- Code icon from fontawesome.com in the icon   -->
                    <i class="fa-solid fa-robot"></i>
                    <h3>Python projects</h3>
                    <p>Various Python Projects with List, Tuples, loops, Dictionary, MySQL, python libraries, file handling, menu based, CSV file, Functions, Microsoft Excel and many more.</p>
                    <a href="https://github.com/SUKH2022/python_program">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-gamepad"></i>
                    <h3>C/C++ projects</h3>
                    <p>C/C++ Projects with C/C++ libraries, loops, 2D and 3D arrays, Inheritance, header files, encapsulation, exception handling, file handling, Microsoft Excel linking and many more.</p>
                    <a href="https://github.com/SUKH2022/C_and_C_plus_plus_projects">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-code"></i>
                    <h3>Web Designing</h3>
                    <p>Several Web Designing Projects with HTML, CSS and javascript and many more.</p>
                    <a href="https://github.com/SUKH2022/Blog">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-medal"></i>
                    <h3>Hacker Rank platform</h3>
                    <p>Programs on Hanker Rank.</p>
                    <a href="https://www.hackerrank.com/sukhpreet_saini1">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-business-time"></i>
                    <h3>Tally</h3>                   
                    <p>Accounting for Business.</p>
                    <a href="https://github.com/SUKH2022/Tally_Word_and_Excel">Learn more</a>
                </div>
                <div>
                    <i class="fa-solid fa-table-list"></i>
                    <h3>Microsoft Office</h3>
                    <p>Beautiful and appealing PPTs, accounting on Excel, Word document, and many more.</p>
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <!-- portfolio] -->
    <!-- portfolio id in div tag short hand for #portfolio -->
    <div id="portfolio">
        <!-- div with class name container shorthand is .container -->
        <div class="container">
            <h2 class="sub-title">My Certificates</h2>
            <!-- div with class name for the work list shorthand is .work-list -->            
            <div class="work-list">
            <!-- div with class name for the work shorthand is .work -->                
                <div class="work">
                    <img src="images/certificate2.png" alt="Python image">
                    <!-- div with class name for the work shorthand is .work -->
                    <div class="layer">
                        <h4>Python Certificate</h4>
                        <p>This certificate program was provided to the participants with a comprehensive understanding of the Python programming.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="images/certificate1.png" alt="C/C++ image">
                    <!-- div with class name for the work shorthand is .work -->
                    <div class="layer">
                        <h4>C/C++ Certificate</h4>
                        <p>This certificate program was provided to the participants with a thorough understanding of the C and C++ programming languages.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="images/certificate5.png" alt="C# image">
                    <!-- div with class name for the work shorthand is .work -->
                    <div class="layer">
                        <h4>C# Certificate</h4>
                        <p>Advance C# concepts and hands-on projects to put their newfound knowledge into practice and develop their coding skills.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work">
                    <img src="images/certificate.jpg" alt="Tally image">
                    <!-- div with class name for the work shorthand is .work -->
                    <div class="layer">
                        <h4>Tally Certificate</h4>
                        <p>The program covered topics such as creating company accounts, maintaining ledgers, and using Tally's inventory management features.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work show">
                    <img src="images/certificate4.png" alt="Office Automation image">
                    <!-- div with class name for the work shorthand is .work -->
                    <div class="layer">
                        <h4>Office Automation Certificate</h4>
                        <p>This course covered the use of popular office software such as Microsoft Office Suite (Word, Excel, PowerPoint, and Outlook) as well as other office productivity tools.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work show">
                    <img src="images/french.jpg" alt="French word image">
                    <!-- div with class name for the work shorthand is .work -->
                    <div class="layer">
                        <h4>French for Beginners Certificate</h4>
                        <p>The program covered fundamental skills such as introducing, basic conversations as well as learned about French culture and customs.</p>
                        <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work show">
                    <img src="images/french.jpg" alt="Microsoft Azure">
                    <!-- div with class name for the work shorthand is .work -->
                    <div class="layer">
                        <h4>Azure DevOps for Beginners Certificate</h4>
                        <p>This program designed to introduce individuals to the fundamentals of Azure DevOps practices.</p>
                        <a href="https://lnkd.in/eajQwxwW"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work show">
                    <img src="images/french.jpg" alt="Java Programming">
                    <!-- div with class name for the work shorthand is .work -->
                    <div class="layer">
                        <h4>Java Programming Certificate</h4>
                        <p>certificate is a valuable credential that can enhance your employability in the software development field.</p>
                        <a href="https://www.linkedin.com/in/sukhpreet-saini/details/certificatio"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
            <li class="btn" onclick="showMoreCertificates()">See more</li>
        </div>
    </div>